<div class="bar bar-header bar-stable">
  <a class="button icon-left ion-chevron-left button-clear" ng-click="goToPreviousDate()"></a>
  <h1 class="title" ng-model="date">{{date|date:'fullDate'}}</h1>
  <a class="button icon-right ion-chevron-right button-clear" ng-click="goToNextDate()"></a>
</div>

<ion-content>
  <div detect-gestures gesture-type="swipe" class="swipe">
    <div style="padding-top: 40px">
    <ion-list>
      <ion-item ng-repeat="appointment in appointments">
        {{appointment.appointment_time|date: 'h:mm a'}} {{appointment.appointment_type_description}} {{appointment.patient_first_name}}
      </ion-item>
    </ion-list>
    </div>
  </div>
</ion-content>
