/* Empty. Add your own CSS if you like */

.swipe {
}

.scroll-content#imagebg {
  background: url('../img/morning_coffee.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1, h2, h3, body, button {
  font-family: 'Raleway', sans-serif;
  color: #444E50;
}
